<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".okhttpExample.OkHttpExampleUI" />
        <activity android:name=".weixinContact.WeiXinContactUi" />
        <activity android:name=".commonAdapterEx.AdapterExUI" />
        <activity android:name=".dialog.DialogExUI" />
        <activity android:name=".SwipeRefreshDemoUI" />
        <activity android:name=".mulPic.MulPicUI" />
        <activity android:name=".others.ToolBarUI" />
        <activity
            android:name=".NavigationUI"
            android:label="@string/title_activity_navigation_ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".others.OverScrollUI" />
        <activity android:name=".PicAutoplay.PicAutoplayUI" />
        <activity android:name=".others.ChartUI" />
        <activity android:name=".refresh.RefreshUI" />
        <activity android:name=".others.RecyclerDemoUI"></activity>
    </application>

</manifest>
